.card {
    width: 280px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow:hidden;
    padding: 10px;
    border-radius: 40px;
    background-color: #6904cdc2;
    transition: 0.2s;
}

.navLink {
    text-decoration: none;
    color: black;
    border-radius: 40px;
}

.img {
    margin: 0 auto;
    width: 220px;
    height: 220px;
    object-fit: contain;
}