.card {
    width: 250px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow:hidden;
    padding: 6px;
    border-radius: 40px 5px 10px 10px;
    background-color: #fbcb1fb7 ;
    color: whitesmoke;
    text-shadow: 0px 0px 3px black;
    border: outset 4px whitesmoke;
    transition: 0.2s;
    user-select: none;
    opacity: 0; /* Comienza con opacidad 0 */
    animation: fadeIn 0.4s ease-in-out forwards;
}

 @keyframes fadeIn {
    0% {
        opacity: 0; /* Opacidad inicial al 0% */
    }
    100% {
        opacity: 1; /* Opacidad final al 100% */
    }
}


.card:hover {
    transform: scale(1.05);
    
    .img {
        filter: drop-shadow(0px 0px 20px whitesmoke);
    }
}

.navLink {
    text-decoration: none;
    color: black;
    border-radius: 40px;
}

.img {
    margin: 6px auto;
    width: 180px;
    height: 180px;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;   
}

.card h2 {
    font-size: 20px;
}

.containerAttack_HP {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.attackContainer {
    display: flex;
    align-items: center;
    gap: 2px;
}

.attackContainer img {
    width: 32px;
}

.hpContainer {
    display: flex;
    align-items: center;
    gap: 2px;
}

.hpContainer img {
    width: 32px;
}

.containerAttack_HP {
    margin-top: 6px;
}
