/*---------------------------FIRST------------------------------*/

.containerGeneral {
    display: flex;
    justify-content: center;
}

.containerGeneral label {
    user-select: none;
}


.container_n {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
    font-size: 18px;
    font-weight: 600;
}

.container_n_individual { /*Aca se estiliza el input*/
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.container_3 {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
    font-size: 18px;
    font-weight: 600;
}

.container_3_individual { /*Aca se estiliza el input*/
    display: flex;
    flex-direction: column;
    width: 100px;
    gap: 0.4rem;
    margin-top: 10px;
}

/*----------------------------INPUTS---------------------------*/
input {
    text-align: center;
}

.container_3_individual input {
    width: 116px;
    cursor: pointer;
    
}

.container_n input {
    width: 180px;
    cursor: pointer;
    align-self: center;
}

/*---------------------------TYPE------------------------------*/
.container_types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
}

.types {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 0.8rem;
}

.types_5 {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.container_types input {
    cursor: pointer;
}

.typeTitle {
    font-size: 18px;
    font-weight: 600;
}

/*--------------------------- IMG ------------------------------*/

.container_imgLoad {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.8rem;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
}
/*--------------------------- BUTTON ------------------------------*/
.create {
    margin-top: 40px;
    height: 44px;
    width: 140px;
    cursor: pointer;
    border-radius: 16px;
    background-color: #fbcb1fe0;
    color: white;
    border: inherit 1px;
    border-color: whitesmoke;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
    user-select: none;
    margin-bottom: 50px;
}

.create:hover {
    color: #fbcb1fe0;
    background-color: white;
    border: none;
    transform: scale(1.03);
    box-shadow: 2px 6px 40px #ffffffe0;
}

.create:active {
    transform: scale(1) scale(1.1);
    color: white;
    background: #fbcb1fe0;  
}
/*--------------------------- ERRORS ------------------------------*/

.containerGeneral p {
    font-size: 15px;
    font-weight: 400;
    text-shadow: none;
    color: rgb(255, 0, 0);
}

.errTyp {
    margin-top: 10px;
}

/*--------------------------- FORM ------------------------------*/

form {
    background-color: rgba(26, 25, 25, 0.884);
    width: 420px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 425px) {
    form {
        width: 300px;
        margin-top: 20px;
    }

    .container_3 {
        flex-direction: column;
        gap: 0;
        width: fit-content;
        margin: 0 auto;
    }

    .types {
        gap: 1rem;
    }

    .container_types {
        margin-top: 20px;
    }
}