.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4px;
    margin-bottom: 4px;
}

.containers {
    display: flex;
    flex-direction: column;
}

.container label {
    margin-bottom: 4px;
    font-weight: 500;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
    user-select: none;
}

.containers select {
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

@media (max-width:425px) {
    .container {
        flex-direction: column-reverse;
        width: fit-content;
        margin: 4px auto;
    }

    .container label {
        margin-bottom: 6px;
    }

    .containers {
        margin-top: 6px;
    }

    .containers select {
        align-self: center;
        width: 100px;
    }
}