.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 20px;
    background-color: rgb(48, 47, 47);
    user-select: none;
    font-size: 14px;
}