.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
}

.cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    margin: 14px 0 14px;
}

.buttons_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons_container {
    margin-bottom: 16px;
}

.buttons_container p {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 1px 1px 2px black;
    user-select: none;
}

.btn_move  {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: whitesmoke;
    background-color: #fbcb1fe0;
    border: 1px solid white;
    text-shadow: 1px 1px 2px black;
    user-select: none;
    margin: 0 12px;
}

.btn_move:hover {
    color: #fbcb1fe0;
    background-color: white;
    border: none;
    transform: scale(1.03);
    /* box-shadow: 0px 0px 20px #ffffffe0; */
}

.btn_move:active {
    transform: scale(1) scale(1.1);
    color: white;
    background: #fbcb1fe0;  
}

.page_numbers {
    display: flex;
}

.page_numbers button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid white;
    height: 24px;
    width: 24px;
    font-size: 14px;
    margin: 1.2px;
    user-select: none;
}

.active_page {
    background-color: #333;
    color: #fff;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.loadgif {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 100px;
    user-select: none;
    -webkit-user-drag: none; 
}

.types {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 4px;
}

.types img {
    max-width: 110px;
}