.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.container_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 200px;
    border: solid 1px black;
}

