.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 200px;
    border: solid 8px #3c5aa6;
    margin-top: 15%;
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 20px;
}

.imgL {
    width: 420px;
    margin-top: 140px;
}

.btnL {
    cursor: pointer;
    width: 180px;
    height: 50px;
}